@font-face {
  font-family: 'Abordage-Regular';
  src: url('/Abordage-Regular.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abordage-Regular', Helvetica, sans-serif;
  background-color: #ffe9dd;
  color: #ff804f;
}

.container {
  display: flex;
  justify-content: center;
  padding: 60px 30px;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 900px;
  width: 100%;
}

.logo {
  width: 144.08px;
  height: 114.92px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  line-height: normal;
}

.main-image {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  max-height: 330.34px;
  height: 330px;
}

.card {
  max-width: 600px;
  width: 100%;
}

.description {
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  padding: 4px;
}

.cta-button {
  padding: 15px 30px;
  border-radius: 70px;
  border: 2px solid #ff804f;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cta-button span {
  font-family: 'Abordage-Regular', Helvetica;
  font-weight: normal;
  color: #ff804f;
  font-size: 20px;
  letter-spacing: 1px;
  white-space: nowrap;
  line-height: 1;
  transition: color 0.2s;
}

.cta-button:hover {
  background-color: #ff804f;
}

.cta-button:hover span {
  color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 900px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
  width: 100%;
}

.footer-column {
  width: 410px;
}

.footer-content {
  font-size: 15px;
  text-align: center;
}

.footer-content a {
  color: #ff804f;
  text-decoration: underline;
  transition: color 0.2s;
}

.footer-content a:hover {
  color: #e06b3e;
}

@media (max-width: 768px) {
  .content {
    gap: 30px;
  }
  
  h1 {
    font-size: 40px;
  }
  
  .description {
    font-size: 20px;
  }
  
  .footer-column {
    width: 100%;
  }
}